nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(228, 199, 35);
    
  }
   
  
  
  
  .listindex {
    display: flex;
    gap: 5vh;
  }
  
  ul
  {
    list-style: none;
  
  }


  body 
  {
 

      background-color: rgb(180, 34, 34);
      
        
  }




  /* ............................... Index .............. */

  .textes 
  {
    border-radius: 3%;
    display: flex;
    justify-content: center;
  }

  .tableau 
  {
   border: solid gray;
    text-transform: bold, capitalize;
  }


  .blue{
    color: blue;
  }





  /* ****************************FOOTER*************** */

  